---
import Layout from "../layouts/Layout.astro";
import Intro from "../components/Intro.astro";
import Card from "../components/Card.astro";

import { contentfulClient } from "../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { EntryFieldTypes } from "contentful";

interface Project {
  contentTypeId: "project";
  fields: {
    title: EntryFieldTypes.Text;
    richDescription: EntryFieldTypes.RichText;
    credit: EntryFieldTypes.Text;
    tag: EntryFieldTypes.Text;
    href: EntryFieldTypes.Text;
    linkText: EntryFieldTypes.Text;
    targetSelf: EntryFieldTypes.Boolean;
    sort: EntryFieldTypes.Number;
  };
}

const projects = await contentfulClient.getEntries<Project>({
  content_type: "project",
});

const sortedProjects = projects.items.sort(
  (a, b) => b.fields.sort - a.fields.sort
);
---

<Layout title="Remy Lynch — Frontend Engineer">
  <Intro />

  <div class="wrapper wrapper--projects">
    <section class="projects">
      <header class="two-thirds">
        <h2>
          Here’s some stuff I’ve worked on. I’m happy to talk about any of it,
          just <a href="mailto:howdyremy@gmail.com?subject=hi!" target="_blank"
            >shoot me a message</a
          >.
        </h2>
      </header>
      {
        sortedProjects.map(({ fields }) => (
          <Card
            title={fields.title}
            credit={fields.credit}
            tag={fields.tag}
            href={fields.href}
            linkText={fields.linkText}
            targetSelf={fields.targetSelf}
            description={documentToHtmlString(fields.richDescription)}
          />
        ))
      }

      <div class="two-thirds">
        <p class="small-text">
          Oh, and these people thought my design work was cool:
        </p>
        <p>
          <i
            >The Grammys, Communication Arts, Digiday, Creative Review, Ad Club
            Hatch Awards, The UnderConsideration network, Dexigner, Packaging of
            the World, Art of the Menu, Art Directors Club of NJ, New England
            Book Show Award, Council of Editors of Learned Journals (CELJ),
            &amp; more…</i
          >
        </p>
      </div>
    </section>
  </div>
</Layout>
<style>
  .wrapper--projects {
    background-color: var(--accent-wall);
  }

  .projects > header {
    margin-bottom: 72px;
  }

  @media (max-width: 650px) {
    .projects > header {
      margin-bottom: 30px;
    }
  }
</style>
<script is:inline>
  $(function () {
    $(".project").hover(
      () => $(".project:not(:hover)").addClass("project__fade-out"),
      () => $(".project").removeClass("project__fade-out")
    );
  });
</script>
